[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "busybear-linux"]
	path = busybear-linux
	url = git@github.com:eyrie-enclave/busybear-linux
[submodule "riscv-linux"]
	path = riscv-linux
	url = git@github.com:eyrie-enclave/riscv-linux
[submodule "riscv-pk"]
	path = riscv-pk
	url = git@github.com:eyrie-enclave/riscv-pk
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = git@github.com:riscv/riscv-qemu
[submodule "sanctum_bootloader"]
	path = sanctum_bootloader
	url = git@github.com:eyrie-enclave/sanctum_bootloader
[submodule "sdk"]
	path = sdk
	url = git@github.com:eyrie-enclave/eyrie-sdk
[submodule "runtime"]
	path = runtime
	url = https://github.com/eyrie-enclave/eyrie-runtime
