[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "runtime/test/cmocka"]
        path = runtime/test/cmocka
        url = https://gitlab.com/cmocka/cmocka
[submodule "overlays/keystone/board/cva6/cva6-sdk"]
	path = overlays/keystone/board/cva6/cva6-sdk
	url = https://github.com/openhwgroup/cva6-sdk
